body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(16, 29, 145);
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 200px;
    text-align: center;
    /* text-transform: uppercase; */
    background: url(ondas.jpg);
    -webkit-background-clip: text;
    color: transparent;
    animation: text-background 20s linear infinite;
}

@keyframes text-background {

	from { background-position: 0 0 }

	to { background-position: 100% 100% }

} 